nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(252, 183, 85);
    gap: 80px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: all .3s;
}

nav a:hover {
    color: rgb(109, 152, 244);
}

nav a svg {
    margin-right: 5px;
}